<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
<title>Alyxe Schmidt</title>
</head>
<body>
<div class="container">
<div class="jumbotron">
<h1>Alyxe Schmidt</h1>
<h3><strong>Neopoints:</strong> 2500</h3>
</div>
<div class="row marketing">
<div class="col-lg-6">
<h3>Neopets</h3><ul>
</ul>
</ul>
</div>
<div class="col-lg-6">
<h3>Items</h3>
<ul>
</ul>
</div>
</div>
</div>
</body>
</html>