<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    <title>Aaron Rusli</title>
  </head>
  <body>
    <div class="container">

      <!-- begin jumbotron -->
      <div class="jumbotron">
        <h1>Aaron Rusli</h1>
        <h3><strong>Neopoints:</strong> 1550</h3>
      </div>
      <!-- end jumbotron -->

      <div class="row marketing">
        
        <!-- begin listing neopets -->
        <div class="col-lg-6">
          <h3>Neopets</h3>
          <!-- first neopet -->
          <ul>
            <li><img src="../../public/img/neopets/scorchio.jpg"></li>
            <ul>
              <li><strong>Name:</strong> Maggie</li>
              <li><strong>Mood:</strong> ecstatic</li>
              <li><strong>Species:</strong> scorchio</li>
              <li><strong>Strength:</strong> 1</li>
              <li><strong>Defence:</strong> 4</li>
              <li><strong>Movement:</strong> 5</li>
              <li><strong>Items:</strong></li>
              <ul>
                <!-- begin first neopet's items -->
                <li><img src="../../public/img/items/book_koi_baby.jpg"></li>
                <ul>
                  <li><strong>Type:</strong> Book Koi Baby</li>
                </ul>
                <li><img src="../../public/img/items/groom_moon_comb.jpg"></li>
                <ul>
                  <li><strong>Type:</strong> Groom Moon Comb</li>
                </ul>
              </ul>
            </ul>
            <!-- second neopet -->
            <li><img src="../../public/img/neopets/flotsam.jpg"></li>
            <ul>
              <li><strong>Name:</strong> Lily</li>
              <li><strong>Mood:</strong> happy</li>
              <li><strong>Species:</strong> flotsam</li>
              <li><strong>Strength:</strong> 10</li>
              <li><strong>Defence:</strong> 7</li>
              <li><strong>Movement:</strong> 4</li>
              <li><strong>Items:</strong></li>
              <ul>
                <!-- begin second neopet's items -->
                <li><img src="../../public/img/items/food_hawaiian_bread.jpg"></li>
                <ul>
                  <li><strong>Type:</strong> Food Hawaiian Bread</li>
                </ul>
              </ul>
            </ul>
          </ul>
        </div>
        <!-- end listing neopets -->

        <!-- begin listing items -->
        <div class="col-lg-6">
          <h3>Items</h3>
          <ul>
            <li><img src="../../public/img/items/blueshorthair.jpg"></li>
            <ul>
              <li><strong>Type:</strong> Blueshorthair</li>
            </ul>
            <li><img src="../../public/img/items/bluemirror.jpg"></li>
            <ul>
              <li><strong>Type:</strong> Bluemirror</li>
            </ul>
            <li><img src="../../public/img/items/red_bouncy_ball.jpg"></li>
            <ul>
              <li><strong>Type:</strong> Red Bouncy Ball</li>
            </ul>
          </ul>
        </div>
        <!-- end listing items -->

      </div><!-- end row marketing -->
    </div><!-- end container -->
  </body>
</html>